@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-color {
        @apply bg-[#003580];
    }

    .text-color {
        @apply text-[#003580];
    }

    .button {
        @apply rounded-lg ml-[20px] border-none py-[5px] px-[10px] bg-[lightgray] text-color;
    }

    .headerItem {
        @apply flex items-center gap-[10px];
    }

    .headerItem.active {
        @apply rounded-[20px] border-solid border-[1px] border-white p-[10px];
    }

    .search {
        height: 30px;
        background-color: white;
        border: 3px solid #febb02;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0px;
        border-radius: 5px;
        position: absolute;
        bottom: -25px;
        width: 100%;
        max-width: 1024px;
    }

    .header_options {
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
        @apply z-20 absolute top-[50px] bg-white text-[gray] rounded-[5px];
    }

    .header_optionItem {
        @apply w-[200px] flex justify-between m-[10px];
    }

    .header_optionCounter {
        @apply flex items-center gap-[10px] text-xs text-black;
    }

    .header_optionBtn {
        @apply w-[30px] h-[30px] border-[1px] border-solid border-[#0071c2] cursor-pointer bg-white;
    }

    .header_optionBtn.disabled {
        @apply cursor-not-allowed;
    }

    .featured_item {
        @apply z-10 relative text-white rounded-[10px] overflow-hidden h-[250px];
    }

    .featured_title {
        @apply absolute bottom-[60px] sm:bottom-[40px] left-[20px] md:bottom-[20px];
    }

    .pList-container {
        @apply w-[100%] max-w-[1024px] flex justify-between gap-[20px];
    }

    .pList-item {
        @apply rounded-[10px] overflow-hidden cursor-pointer flex-1;
    }

    .pList-title > h1 {
        @apply text-[18px];
    }
    .pList-title > h2 {
        @apply text-[14px] font-[300];
    }

    .pList-img {
        @apply w-[100%] h-[150px];
    }

    .fp-Item {
        @apply flex-col flex flex-1 gap-[10px];
    }

    .fp-Img {
        @apply w-[100%] h-[150px];
    }

    .fp-Name {
        @apply font-bold;
    }

    .fp-City {
        @apply font-[300];
    }

    .fp-Price {
        @apply font-[500];
    }

    .fp-Rating > button {
        @apply bg-[#003580] text-white border-none p-[3px] mr-[10px] font-bold;
    }

    .fp-Rating > span {
        @apply text-[14px];
    }
}

@layer components {
    .footer {
        @apply w-[100%] max-w-[1024px] text-xs;
    }

    .fLists {
        @apply w-[100%] flex justify-between mb-[50px];
    }

    .fList {
        @apply list-none p-[0];
    }

    .fListItem {
        @apply mb-[10px] text-[#003590] cursor-pointer;
    }

    .list-item {
        @apply flex flex-col gap-[5px] mb-[10px];
    }

    .list-item > label {
        @apply text-xs;
    }

    .list-item > input {
        @apply h-[30px] border-none p-[5px];
    }

    .list-item > span {
        @apply h-[30px] p-[5px] bg-white flex items-center cursor-pointer;
    }

    .list-option {
        @apply p-[10px];
    }

    .list-optionItem {
        @apply flex justify-between mb-[10px] text-[#555] text-xs;
    }

    .list-optionInput {
        @apply w-[50px];
    }

    .list-result {
        @apply flex-3;
    }
}

@layer components {
    .slider {
        background-color: rgba(0, 0, 0, 0.613);
        z-index: 999;
        @apply sticky top-0 left-0 w-[100vw] h-[100vh] flex items-center;
    }
}
